.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #222;
  color: white;
}

.btn {
  padding: 8px 16px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.logo img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.nav-options a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-options a:hover {
  color: red;
}
